/*!
 *  Label Options v1.0.0
 */
.label-options .option {
    border: 1px solid #d7d7d7;
    background-color: #f3f3f3;
    font-family: ZenIcon, "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "PingFang SC",
        "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.label-options>span {
    display: inline-flex;
    align-items: center;
}

.label-options .option:before {
    color: #aaa;
}

.label-options .option[theme] {
    color: #fff;
}

.label-options .option[theme]:before {
    color: #fff;
}

.label-options .option:before, .label-options .option[icon='plus']:before {
    content: "\e661";
    margin-right: 12.766px;
}

.label-options .option[icon='ok']:before, .label-options .option[theme]:before {
    content: "\e60d";
    margin-right: 10px;
}

.label-options .option[icon='user']:before {
    content: "\e608";
    margin-right: 12.766px;
}

.label-options .option[icon='print']:before {
    content: "\e62c";
    margin-right: 12.766px;
}

.label-options .option[icon='remove']:before {
    content: "\d7";
    margin-right: 12.766px;
}

.label-options .option[theme='primary'] {
    border-color: #3280fc;
    background-color: #3280fc;
}

.label-options .option[theme='info'] {
    border-color: #03b8cf;
    background-color: #03b8cf;
}

.label-options .option[theme='warning'] {
    border-color: #df8f0e;
    background-color: #df8f0e;
}