td {
    vertical-align: top;
}

.clickable:not(.active) {
    color: #145ccd;
    cursor: pointer;
}

.method-name {
    margin-left: 8px;
}

.caption {
    color: #222;
    margin-left: 8px;
}

a:link {
    text-decoration: none;
}

.deprecated {
    text-decoration: line-through;
    font-style: italic;
}

.label {
    cursor: pointer;
}

.label[title] {
    margin-left: 8px;
}
