<div class="modal" tabindex="-1" role="dialog" aria-labelledby="_modal_title" aria-hidden="true">
    <div class="modal-dialog" style="min-width: 300px;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 7px 15px;">
                <button type="button" class="close" style="margin-top: 4px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="_modal_title" style="white-space: nowrap; margin: 1px 20px 1px 1px;">&nbsp;</h4>
            </div>
            <div class="modal-body">&nbsp;</div>
            <div class="modal-footer" style="margin-top: 0px;">&nbsp;</div>
        </div>
    </div>
</div>
